<%= title t(:login) %>

<%= form_tag sessions_path do %>
<li>
  <%= label_tag :email, ft(:login) %>
  <%= text_field_tag :email %>
</li>
<li>
  <%= label_tag :password, ft(:password) %>
  <%= password_field_tag :password %>
</li>
<li>
  <%= submit_tag t(:login), :class => :submit %>
</li>
<% end %>
<div id="signup">
  <%= mess(:dont_have_an_account?) %>
  <%= button_to t(:signup), signup_path, :method => :get %>
</div>
