<%= title t(:authors) %>

<table>
<% @authors.each do |author| %>
  <tr>
    <td><%= link_to author.name, author %></td>
    <td id="actions"><%= link_to t(:edit), edit_author_path(author) if can? :edit, author %> <%= link_to t(:del), author, :confirm => sure?, :method => :delete if can? :destroy, author %></td>
  </tr>
<% end %>
</table>

<div id="bottom_links">
  <%= link_to new(:author), new_author_path if can? :new, Author %>
</div>
