<div class="line_item">
  <div id="image">
    <% if line_item.book.image_url.nil? %>
      <%= image_tag 'books-pile-mini.png' %>
    <% else %>
      <%= image_tag line_item.book.image_url(:mini) %>
    <% end %>
  </div>
  <div id="info">
    <%= line_item.book.title %>
    <%= render 'books/categories', book:line_item.book, :as=>:static %>
  </div>
  <div id="price">
    <%= line_item.item_price(currency_in_riel?) %> <%= t currency %> x <%= line_item.quantity %> = <%= line_item.total_price(currency_in_riel?) %> <%= t currency %>
  </div>
  <div class="clear"></div>
</div>
