<div id="name">
  <span class="label">
    <%= t(:name) %>:
  </span>
  <span class="content">
    <%= order.name %>
  </span>
</div>

<div id="address">
  <span class="label">
    <%= t(:address) %>:
  </span>
  <span class="content">
    <%= order.address %>
  </span>
</div>

<div id="email">
  <span class="label">
    <%= t(:email) %>:
  </span>
  <span class="content">
    <%= order.email %>
  </span>
</div>

<div id="pay_type">
  <span class="label">
    <%= t(:pay_type) %>:
  </span>
  <span class="content">
    <%= order.pay_type %>
  </span>
</div>
