<div class="order">
  <div id="name">
    <span class="label">
      <%= ft(:name) %>:
    </span>
    <span class="content">
      <%= order.name %>
    </span>
  </div>

  <div id="address">
    <span class="label">
      <%= ft(:address) %>:
    </span>
    <span class="content">
      <%= order.address %>
    </span>
  </div>

  <div id="email">
    <span class="label">
      <%= ft(:email) %>:
    </span>
    <span class="content">
      <%= order.email %>
    </span>
  </div>

  <div id="pay_type">
    <span class="label">
      <%= ft(:pay_type) %>:
    </span>
    <span class="content">
      <%= order.pay_type %>
    </span>
  </div>

  <div id="postal_service">
    <span class="label">
      <%= ft(:postal_service) %>:
    </span>
    <span class="content">
      <%= order.postal_service %>
    </span>
  </div>
</div>
