<tr>
  <td><%= listed_books(order) %></td>
  <td><%= order.aasm_state %>
  <td><%= order.created_at.strftime("%Y-%m-%d %H:%M") %>
  <td><%= order.updated_at.strftime("%Y-%m-%d %H:%M") %>
  <td><%= link_to t(:edit), edit_order_path(order) if can? :edit, order %></td>
</tr>
