<%= title confirm(:order) %>

<div id="line_items">
  <%= render :partial => 'orders/line_item', :collection => @order.line_items %>

  <div id="total">
    <span class="label">
      <%= t(:total) %>:
    </span>
    <span class="content">
      <%= @order.total_price(currency_in_riel?) %> <%= currency %>
    </span>
  </div>
  <div class="clear"></div>
</div>

<%= render @order %>

<%= form_for @order, :url => confirm_order_path(@order), :method => :put, :html=>{:id => 'confirm_order'} do |f| %>
  <%= f.submit t(:cancel), :name => :cancel_button %>
  <%= f.submit t(:edit), :name => :edit_button %>
  <%= f.submit t(:confirm) %>
<% end %>
