<%= semantic_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :summary %>
  <%= f.input :regular_price,:hint=>Setting.in_currency,:input_html => {:class => :short} %>
  <div class="clear"></div>
  <%= f.input :image %>
  <%= f.input :author_tokens, :label => ft(:author), :input_html => {"data-pre" => @book.authors.map(&:attributes).to_json} %>
  <%= f.input :category_tokens, :label => ft(:category), :input_html => {"data-pre" => @book.categories.map(&:attributes).to_json} %>
  <%= f.submit :class => :submit %>
<% end %>
