<%= semantic_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :summary %>
  <li id="book_regular_price_input">
    <%= f.label :regular_price, ft(:regular_price) %>
    <%= f.text_field :regular_price, {:class => :short} %>
    <p class="inline-hints">
      <%= Setting.in_currency %>
    </p>
    <p class="inline-errors">
      <%= @book.errors[:regular_price].join %>
    </p>
  </li>
  <div class="clear"></div>
  <%= f.input :image %>
  <%= f.input :author_tokens, :label => ft(:author), :input_html => {"data-pre" => @book.authors.map(&:attributes).to_json} %>
  <%= f.input :category_tokens, :label => ft(:category), :input_html => {"data-pre" => @book.categories.map(&:attributes).to_json} %>
  <%= f.submit @book.new_record? ? create(:book) : update(:book), :class => :submit %>
<% end %>
