<%= title new(:book) %>

<%= form_tag create_individual_books_path, :method => :post, :multipart => true, :id => 'book' do %>
  <% @books.each_with_index do |book,i| %>
    <div class="book">
      <%= fields_for "books[#{i}]", book do |f| %>
        <%= render "fields", :f => f, :book => book %>
      <% end %>
    </div>
  <% end %>
  <li>
    <%= submit_tag create(:books), :class => :submit %>
  </li>
<% end %>
