<%= title @book.title %>

Author: <%= raw @book.authors.map{|e| link_to e.name,e}.join(', ') %><br>
Category: <%= raw @book.categories.map{|e| link_to e.name,e}.join(', ') %>

<div id="bottom_links">
  <%= link_to t(:edit), edit_book_path(@book) if can? :edit, @book %> <%= link_to t(:delete), @book, :confirm => sure?, :method => :delete if can? :destroy, @book %>
</div>
