<div id="book">
  <%= title @book.title %>

  <div id="image">
    <% if @book.image_url.nil? %>
      <%= image_tag('books-pile.jpg') %>
    <% else %>
      <%= image_tag @book.image_url(:main) %>
    <% end %>
  </div>
  <div id="content">
    <div id="author">
      <span class="label">
        <% if @book.authors.count <= 1 %>
          <%= t(:author) %>:
        <% else %>
          <%= t(:authors) %>:
        <% end %>
      </span>
      <span class="content">
        <% if @book.authors.present? %>
          <%= raw @book.authors.map{|e| link_to e.name,e}.join(', ') %>
        <% else %>
          -
        <% end %>
      </span>
    </div>
    <div id="category">
      <span class="label">
        <% if @book.categories.count <= 1 %>
          <%= t(:category) %>:
        <% else %>
          <%= t(:categories) %>:
        <% end %>
      </span>
      <span class="content">
        <% if @book.categories.present? %>
          <%= raw @book.categories.order(:names_depth_cache).map{|e| link_to e.names_depth_cache,e}.join(', ') %>
        <% else %>
          -
        <% end %>
      </span>
    </div>
    <div id="price">
      <span class="label">
        <%= t(:price) %>:
      </span>
      <span class="content">
      <% if currency_in_riel? %>
        <%= @book.regular_price_in_riel %> <%= currency %>
      <% else %>
        <%= @book.regular_price %> <%= currency %>
      <% end %>
      </span>
    </div>
    <% unless @book.summary.blank? %>
      <div id="summary">
        "<%= @book.summary %>"
      </div>
    <% end %>
    <%= form_for LineItem.new(:book_id=>@book.id) do |f| %>
      <div id="quantity">
        <span class="label">
          <%= f.label :quantity %>:
        </span>
        <span class="content">
          <%= f.select :quantity, (1..10) %>
        </span>
      </div>
      <%= f.hidden_field :book_id %>
      <%= f.submit add_to(:cart) %>
    <% end %>

    <div id="bottom_links">
      <%= link_to t(:edit), edit_book_path(@book) if can? :edit, @book %> <%= link_to t(:delete), @book, :confirm => sure?, :method => :delete if can? :destroy, @book %>
    </div>
  </div>
  <div class="clear"></div>
</div>
