<div class="line_item">
  <div id="image">
    <% if line_item.book.image_url.nil? %>
      <%= link_to image_tag('books-pile.jpg'), line_item.book %>
    <% else %>
      <%= link_to image_tag(line_item.book.image_url(:mini)), line_item.book %>
    <% end %>
  </div>
  <div id="content">
    <div id="title">
      <span class="title"><%= search_link_to line_item.book.title, :book_path, line_item.book %></span> by <%= link_to_authors line_item.book.authors %>
    </div>
    <%= render 'books/categories', :book => line_item.book %>
    <div id="actions">
      <%= link_to jt(:remove), line_item, :confirm => sure?, :method => :delete %>
    </div>
  </div>
  <div id="expenses">
    <div id="price">
      <span class="label">
        <%= jt(:book_price) %>:
      </span>
      <span class="content">
        <%= line_item.item_price(currency_in_riel?) %> <%= currency %>
      </span>
    </div>
    <div id="quantity">
      <span class="label">
        <%= f.label :quantity %>:
      </span>
      <span class="content">
        <%= f.select :quantity, (1..10) %>
      </span>
    </div>
    <div id="book_total">
      <span class="label">
        <%= jt(:total) %>:
      </span>
      <span class="content">
        <%= line_item.total_price(currency_in_riel?) %> <%= currency %>
      </span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
