<%= title 'Your Cart' %>

<div id="cart">
  <% if @cart.line_items.empty? %>
    <%= mess(:your_cart_is_currently_empty) %>
  <% end %>
  <%= form_for @cart do |f| %>
    <% @cart.line_items.each do |line_item| %>
      <%= f.fields_for :line_items, line_item do |ref| %>
        <%= render 'line_item', :line_item => line_item, :f => ref %>
        <% end %>
    <% end %>

    <% if @cart.line_items.present? %>
      <div id="total">
        <span class="label">
          <%= jt(:total) %>:
        </span>
        <span class="content">
          <%= @cart.total_price(currency_in_riel?) %> <%= t(currency) %>
        </span>
      </div>
    <% end %>
    <div class="clear"></div>

    <%= f.submit :class => :submit %>
    <%= f.submit jt(:checkout), :name => :checkout_button, :class => :submit if @cart.line_items.present? %>
  <% end %>

  <%= button_to empty(:cart), @cart, :confirm => sure?, :method => :delete, :class => :submit %>
</div>
