<div id="site_nav">
  <ul>
    <li class='<%= class_selection(:books) %>' ><%= link_to pl(:book), books_path %></li>
    <li>
        <%= listed_categories @site_nav_categories || {} %>
    </li>
    <li class='<%= class_selection(:authors) %>' ><%= link_to pl(:author), authors_path %></li>
    <li class='<%= class_selection(:categories) %>' ><%= link_to pl(:category), categories_path %></li>
    <li class='<%= class_selection(:translations) %>' ><%= link_to pl(:translation), translations_path if can? :index, Translation %></li>
  </ul>
</div>
