<div id="user_nav">
  <% if current_user %>
    <%= mess(:logged_in_as,:name=>current_user.email) %><br>
    <%= link_to jt(:logout), logout_path %>
  <% else %>
    <%= link_to jt(:login), login_path %>
  <% end %>
  <%= link_to jt(:signup), signup_path unless current_user %>
  <%= link_to jt(:settings), edit_setting_path(Setting.singleton) if can?(:edit, Setting.singleton) %>
  <%= link_to jt(:my_account), current_user if current_user %>
  <%= link_to pl(:search), searches_path if can? :index, Search %><br>
  <% if english? %>
    <%= link_to jt(:persian), :language => 'ir' %>
  <% else %>
    <%= link_to jt(:english), :language => 'en' %>
  <% end %>
</div>
