<!DOCTYPE html>
<html>
<head>
  <title>Karoon</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="background_container">
  <div id="container">
    <div id="top_container">
      <div id="image_container">
        <%= link_to image_tag('blue_logo.png'), root_path %>
      </div>
      <div id="user_container">
        <div id="flash_container">
          <% flash.each do |name,msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          <%= render 'layouts/user_nav' %>
        </div>
        <%= render 'layouts/search_bar' %>
      </div>
    </div>
    <div class="clear"></div>
    <div id="mid_container">
      <div id="site_nav_container">
        <div id="site_nav">
          <ul>
            <li class='<%= class_selection(:books) %>' ><%= link_to t(:books), books_path %></li>
            <li>
                <%= listed_categories @site_nav_categories || {} %>
            </li>
            <li class='<%= class_selection(:authors) %>' ><%= link_to t(:authors), authors_path %></li>
            <li class='<%= class_selection(:categories) %>' ><%= link_to t(:categories), categories_path %></li>
          </ul>
        </div>
      </div>

      <div id="main_container">
        <div id="main">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

</body>
</html>
